@model TerceraEntrega.Models.ListaUsuario
@{
    ViewBag.Title = "ConfirmacionActualizacion";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>

<body>
    <div>
        <style>
            .boton-azul {
                background-color: #35B2FF;
                border: none;
                color: white;
                padding: 10px 20px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 14px;
                margin: 4px 2px;
                transition-duration: 0.4s;
                cursor: pointer;
                border-radius: 6px;
                border: 2px solid #35B2FF;
            }

                .boton-azul:hover {
                    background-color: white;
                    color: #35B2FF;
                }
        </style>
        <h3>Actualizar Usuario</h3>

        @if (!string.IsNullOrEmpty(ViewBag.Notificacion))
        {
            <div class="alert alert-success">@ViewBag.Notificacion</div>
        }

        <p>Los datos del usuario son los siguientes:</p>

        <form action="ListaUsuario/ListaUsuario" method="post">
            <table>

                <tr>
                    <td><label>Cedula: @Model.Cedula </label></td>
                </tr>

                <tr>
                    <td><label>Nombre: @Model.Nombre </label></td>
                </tr>

                <tr>
                    <td><label>Apellido: @Model.Apellido </label></td>
                </tr>

                <tr>
                    <td><label>Periodo consumo de agua: @Model.Periodo_consumo </label></td>
                </tr>

                <tr>
                    <td><label>Estrato: @Model.Estrato </label></td>
                </tr>

                <tr>
                    <td><label>Meta de ahorro de energía: @Model.Meta_ahorro_energia </label></td>
                </tr>

                <tr>
                    <td><label>Consumo actual de energía: @Model.Consumo_actual_energia </label></td>
                </tr>

                <tr>
                    <td><label>Promedio consumo de agua: @Model.Promedio_consumo_agua </label></td>
                </tr>

                <tr>
                    <td><label>Consumo actual de agua: @Model.Consumo_actual_agua </label></td>
                </tr>

            </table>

        </form>

        <hr>
        <p>En los siguientes campos podrá actualizar el usuario:</p>

        @using (Html.BeginForm("ActualizarInformacion", "Home", FormMethod.Post))
        {
            
                <table>
                    <tr>
                        <td>Cédula:</td>
                        <td>@Model.Cedula</td>
                    </tr>
                    <tr>
                        <td>Nombre:</td>
                        <td>
                            <input type="text" name="nombre" />
                        </td>
                    </tr>
                    <tr>
                        <td>Apellido:</td>
                        <td>
                            <input type="text" name="apellido" />
                        </td>
                    </tr>
                    <tr>
                        <td>Periodo consumo de agua:</td>
                        <td>
                            <input type="text" name="Pconsumo" />
                        </td>
                    </tr>
                    <tr>
                        <td>Estrato:</td>
                        <td>
                            <input type="text" name="estrato" />
                        </td>
                    </tr>
                    <tr>
                        <td>Meta de ahorro de energía:</td>
                        <td>
                            <input type="text" name="MHenergia" />
                        </td>
                    </tr>
                    <tr>
                        <td>Consumo actual de energía:</td>
                        <td>
                            <input type="text" name="CAenergia" />
                        </td>
                    </tr>
                    <tr>
                        <td>Promedio consumo de agua:</td>
                        <td>
                            <input type="text" name="PCagua" />
                        </td>
                    </tr>
                    <tr>
                        <td>Consumo actual de agua:</td>
                        <td>
                            <input type="text" name="CAagua" />
                        </td>
                    </tr>
                </table>


                <input type="submit" value="Actualizar" class="boton-azul" />
        }
            

    </div>
</body>
</html>